name: "Build Image"

on:
  pull_request:
  push:
    branches:
      - "main"

jobs:
  build:
    name: "Build Image"
    runs-on: "ubuntu-latest"

    permissions:
      contents: "read"
      packages: "write"

    steps:
      - uses: "actions/checkout@v4"

      - uses: "docker/setup-qemu-action@v3"

      - uses: "docker/setup-buildx-action@v3"

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: "docker/metadata-action@v5"
        id: "docker-metadata"
        env:
          DOCKER_METADATA_PR_HEAD_SHA: "true"
        with:
          images: "ghcr.io/${{ github.repository }}"
          tags: |
            # High priority ensures this used for image version
            type=sha,format=long,prefix=,priority=1001
            # Latest for main branch
            type=raw,enable={{is_default_branch}},priority=1,value=latest

      - uses: "docker/build-push-action@v5"
        with:
          context: "."
          platforms: "linux/amd64,linux/arm64"
          push: true
          tags: "${{ steps.docker-metadata.outputs.tags }}"
          labels: "${{ steps.docker-metadata.outputs.labels }}"
          cache-from: "type=gha"
          cache-to: "type=gha,mode=max"
